<div class="container-fluid page">
    <div class="page__box p-3 mt-0">Informations Contacts</div>
    <div class="page__content-data position-absolute text-center container-fluid">
        <ag-grid-angular 
        style="width:1040px; height:534px; position: relative;
        top: 20px; color: black;" 
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        (gridReady)="onGridReady($event)"
        [rowHeight]="10"
        [frameworkComponents]="frameworkComponents"
        >

    </ag-grid-angular>

    </div>
</div>

